body{
    color: #495060;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.leftbar{
    float: left;
    display: inline-block;
    width: 12%;
    margin-top: 1%;
}
.list li{
    text-align:left;
    padding: 5px 15px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: #495060;
    border-bottom: 1px solid hsla(0,0%,73%,.5);
}
.panel-title{
    font-size: 21px;
    font-weight: 500;
    margin: 20px 10px;
    line-height: 30px;
    padding: 5px 15px;
    text-align:left;
}
.additem{
    background-color: #29b6f6;
    margin-right: 4%;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top:20px;
}