body{
    color: #495060;
    background-color: #eeeeee;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.leftbar{
    margin: 10px;
    display: inline-block;
    vertical-align:top;
    width:  140px;
    margin-top: 20px;
}
.list li{
    text-align:left;
    padding: 5px 15px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: #495060;
    border-bottom: 1px solid hsla(0,0%,73%,.5);
}
.course-title{
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
}
.additem{
    background-color: #29b6f6;
    float: right;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5%;
}
.titlediv{
    margin: 20px;
}
.panel{
    padding-top: 1px;
}