body{
    color: #495060;
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.panel-title{
    font-size: 21px;
    font-weight: 500;
    margin: 20px 10px;
    line-height: 30px;
    padding: 5px 15px;
    text-align:left;
}
.panel{
    margin:50px 4% ;
}
.title{
    font-size: 20px;
    font-weight: 400;
    padding: 5px 15px;
    margin: 5px 20px;
    color: #3091f2;
    text-align: left;
}
.content{
    padding: 5px 30px;
    margin: 10px 20px;
    text-align: left;
}
.rightbar{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    border-radius: 4px;
    margin-left: 10px;
    display: inline-block;
    background-color: #FFFFFF;
    min-width: 300px;
    width: 16.66666667%;
}
.job-content{
    box-shadow:1px 1px 1px 1px rgba(0,0,0,.1);
    border-radius: 4px;
    display: inline-block;
    background-color: #FFFFFF;
    width: 76%;
}
.list li{
    text-align:center;
    padding: 5px 15px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: #495060;
    border-bottom: 1px solid hsla(0,0%,73%,.5);
}
.info{
    padding: 5px 15px;
}
.layui-upload{
    padding: 5px 30px;
    margin: 0 20px;
    margin-bottom: 200px;
    text-align: left;
}
.layui-btn{
    border-radius: 4px;
}
.greenColor{
    background-color: #19be6b;
}
.redColor{
    background-color: #ed3f14;
}
.Tag{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 12px;
    color: #FFFFFF;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}