body{
    overflow: scroll;
    background-color: #eeeeee;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #495060;
}
.panel-title{
    font-size: 21px;
    font-weight: 500;
    margin: 20px 10px;
    line-height: 30px;
    padding: 5px 15px;
    text-align:left;
    display: inline-block;
}
.panel{
    margin:50px 4% ;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}
.list li{
    text-align:left;
    margin-top: 10px;
    list-style: none;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 1%;
    font-size: 16px;
    color: #495060;
    border-bottom: 1px solid hsla(0,0%,73%,.5);
}
.list li a:hover{
    color:#2d8cf0 ;
}
.additem{
    background-color: #29b6f6;
}
.op{
    margin-top: 20px;
    float: right;
    display: inline-block;
    margin-right: 5%;
    border-radius: 5px;
}
#mypage{
    float: right;
    margin-top: 20px;
    margin-right: 2%;
    margin-bottom: 20px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #2d8cf0;
}
#mypage a:hover{
    color: #2d8cf0;
}
.title{
    margin: 0 15px;
    font-size: 18px;
    padding: 5px 0px;
}
.time{
    font-size: 14px;
    padding: 5px 15px;
}
.item{
    text-align: left;
    display: inline-block;
}
.icon{
    vertical-align: top;
}
.state{
    font-size: 12px;
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    display: inline-block;
    text-align: center;
    border: 1px solid #e9eaec;
    float: right;
    margin-right: 5% ;
}
.greendot{
    width: 12px;
    height: 12px;
    background-color:#19be6b ;
    top: 1px;
}
.reddot{
    width: 12px;
    height: 12px;
    background-color:#ed3f14 ;
    top: 1px;
}
.title a:hover{
    color: #2d8cf0;
    border-bottom: 1px solid #2d8cf0;
}
.downloadbtn{
    margin-top: 8px;
    margin-right: 4%;
    background-color: #19be6b;
    float: right;
}
.deletebtn{
    margin-top: 8px;
    margin-right: 4%;
    background-color: #ed3f14;
    float: right;
}
#search{
    border:none;
    font-size: 12px;
    color: #495060;
    display: inline-block;
}
.searchdiv{
    padding-top: 8px;
    height: 29px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e9eaec;
}
.searchdiv:hover{
    border: 1px solid #57a3f3;
    box-shadow: 1px 1px 1px 1px #57a3f37d;
}
.jobInfo{
    margin: 0 20px;
}

