<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CourseMapper">

    <select id="findCourseListForStudent" resultType="dto.CourseItemDTO">
        select c.course_id,c.course_name, c.academic_year, c.semester, u.username as teacherName
        from course  c,
             user  u,
             student_course  sc
        where c.course_id = sc.course_id
          and sc.student_id = #{studentId}
          and u.user_id = c.teacher_id
          and (c.course_name like concat(concat('%', #{keyword}), '%') or
               u.username like concat(concat('%', #{keyword}), '%'))
        limit #{cur} ,10;
    </select>
    <select id="countCourseForStudent" resultType="int">
        select count(c.course_id)
        from course  c,
             user  u,
             student_course  sc
        where c.course_id = sc.course_id
          and sc.student_id = #{studentId}
          and u.user_id = c.teacher_id
          and (c.course_name like concat(concat('%', #{keyword}), '%') or
               u.username like concat(concat('%', #{keyword}), '%'))
    </select>
    <select id="findCourseListTeacher" resultType="dto.CourseItemDTO">
        select c.course_id,c.course_name, c.academic_year, c.semester, u.username as teacherName
        from course  c,
             user  u
        where c.teacher_id = #{teacherId}
          and u.user_id = c.teacher_id
          and (c.course_name like concat(concat('%', #{keyword}), '%') or
               u.username like concat(concat('%', #{keyword}), '%'))
        limit #{cur} ,10;
    </select>
    <select id="countCourseForTeacher" resultType="int">
        select count(c.course_id)
        from course  c,
             user  u
        where c.teacher_id = #{teacherId}
          and u.user_id = c.teacher_id
          and (c.course_name like concat(concat('%', #{keyword}), '%') or
               u.username like concat(concat('%', #{keyword}), '%'))
    </select>
    <insert id="save" parameterType="entity.CourseEntity">
        INSERT into course(course_name, course_description, teacher_id, semester, academic_year)
            value (#{courseName}, #{courseDescription}, #{teacherId}, #{semester}, #{academicYear})
    </insert>
    <update id="update" parameterType="entity.CourseEntity">
        UPDATE course
        set course_name=#{courseName},
            course_description=#{course_description},
            semester=#{semester},
            academic_year=#{academic_year}
        where course_id = #{courseId}
    </update>
    <delete id="delete">
        DELETE
        from course
        where course_id = #{id};
    </delete>

</mapper>