<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CourseMapper">
    <select id="selectOne" resultType="entity.CourseEntity">
        select *
        from course
        where course_id = #{id}
    </select>

    <select id="selectAll" resultType="entity.CourseEntity">
        select *
        from course
    </select>

    <insert id="save" parameterType="entity.CourseEntity" useGeneratedKeys="true"
            keyProperty="courseId" keyColumn="course_id">
        INSERT into course(course_id, course_name, course_description, teacher_id, semester, academic_year)
            value (#{courseId}, #{courseName}, #{courseDescription}, #{teacherId}, #{semester}, #{academicYear})
    </insert>

    <update id="update" parameterType="entity.CourseEntity">
        UPDATE course
        set course_name=#{courseName},
            course_description=#{courseDescription},
            semester=#{semester},
            academic_year=#{academicYear}
        where course_id = #{courseId}
    </update>

    <delete id="delete">
        DELETE
        from course
        where course_id = #{id};
    </delete>

    <select id="selectCourseDTO" resultType="dto.CourseDTO">
        select course_id          as courseId,
               course_description as courseDescription,
               course_name        as courseName,
               semester           as semester,
               academic_year      as academicYear,
               teacher_id         as teacherId,
               username           as teacherName
        from course,
             user
        where course_id = #{courseId}
          and teacher_id = user_id
    </select>

    <select id="selectCourseDTOListTch" resultType="dto.CourseDTO">
        select course_id          as courseId,
               course_description as courseDescription,
               course_name        as courseName,
               semester           as semester,
               academic_year      as academicYear,
               teacher_id         as teacherId,
               username           as teacherName
        from course,
             user
        where teacher_id = #{teacherId}
          and teacher_id = user_id
    </select>

    <select id="selectCourseCountTch" resultType="Long">
        select count(*)
        from course
        where teacher_id = #{teacherId}
    </select>

</mapper>