<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QiniuMapper">
    <select id="getQiniuByCourseId" resultType="entity.QiniuEntity">
        select qiniu.*
        from qiniu,
             user,
             course
        where course_id = #{courseId}
          and course.teacher_id = user_id
          and user.qiniu_id = qiniu.qiniu_id;
    </select>

    <select id="selectOne" resultType="entity.QiniuEntity">
        select *
        from qiniu
        where qiniu_id = #{id}
    </select>

    <delete id="delete">
        delete
        from qiniu
        where qiniu_id = #{id};
    </delete>

    <update id="update" >
        update qiniu
        set bucket = #{bucket},
            ak     = #{ak},
            sk=#{sk}
        where qiniu_id = #{qiniuId};
    </update>

    <select id="selectAll" resultType="entity.QiniuEntity">
        select *
        from qiniu
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="qiniuId" keyColumn="qiniu_id">
        insert qiniu (sk, ak, bucket)
        VALUES (#{sk}, #{ak}, #{bucket})
    </insert>

</mapper>