<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.QiniuMapper">
    <select id="getQiniuByCourseId" resultType="entity.QiniuEntity">
        select qiniu.*
        from qiniu,
             user,
             course
        where course_id = #{courseId}
          and course.teacher_id = user_id
          and user.qiniu_id = qiniu.qiniu_id;
    </select>

    <select id="selectOne">
        select *
        from qiniu
        where qiniu_id = #{id}
    </select>

</mapper>