<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ResourceMapper">
    <select id="selectOne" resultType="entity.CourseResourceEntity">
        select *
        from course_resource
        where course_resource_id = #{id}
    </select>

    <select id="selectAll" resultType="entity.CourseResourceEntity">
        select *
        from course_resource
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="courseResourceId">
        insert into course_resource (course_resource_id,
                                     course_resource_path,
                                     course_id,
                                     course_resource_filename,
                                     upload_time)
        values (#{courseResourceId}, #{courseResourcePath}, #{courseId}, #{courseResourceFilename}, #{uploadTime})
    </insert>

    <update id="update">
        update course_resource
        set course_id                = #{courseId},
            course_resource_path     = #{courseResourcePath},
            upload_time              = #{uploadTime},
            course_resource_filename = #{courseResourceFilename}
        where course_resource_id = #{courseResourceId}
    </update>

    <delete id="delete">
        delete
        from course_resource
        where course_resource_id = #{id}
    </delete>

    <select id="selectCourseResource" resultType="entity.CourseResourceEntity">
        select *
        from course_resource
        where course_id = #{courseId}
        order by course_resource_id DESC
    </select>

    <select id="selectCourseResourceDTO" resultType="dto.CourseResourceDTO">
        select course_resource_filename as courseResourceFilename,
               course_resource_id       as courseResourceId,
               course.course_id         as courseId,
               semester                 as semester,
               academic_year            as academicYear,
               course_name              as courseName
        from course_resource,
             course
        where course_resource_id = #{id}
          and course_resource.course_id = course.course_id
    </select>

</mapper>