<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="selectOne" resultType="entity.UserEntity">
        select *
        from user
        where user_id = #{id}
    </select>

    <select id="selectAll" resultType="entity.UserEntity">
        select *
        from user
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        insert into user (user_id,
                          password,
                          username,
                          telephone,
                          email,
                          role,
                          last_login_time,
                          specialty,
                          office,
                          qiniu_id,
                          type)
        values (#{userId},
                #{password},
                #{username},
                #{telephone},
                #{email},
                #{role},
                #{lastLoginTime},
                #{specialty},
                #{office},
                #{qiniuId},
                #{type});
    </insert>

    <update id="update">
        update user
        set username        = #{username},
            qiniu_id        = #{qiniuId},
            password        = #{password},
            telephone       = #{telephone},
            email           = #{email},
            role            = #{role},
            last_login_time = #{lastLoginTime},
            specialty       = #{specialty},
            office          = #{office},
            type            = #{type}
        where user_id = #{userId}
    </update>

    <delete id="delete">
        delete
        from user
        where user_id = #{id}
    </delete>

    <select id="selectUserDTO" resultType="dto.UserDTO">
        select user_id    as userId,
               u.username as username,
               telephone  as telephone,
               email      as email,
               office     as office,
               specialty  as specialty,
               type       as type,
               q.qiniu_id as qiniuId,
               bucket     as bucket
        from user u,
             qiniu q
        where u.user_id = #{id}
          and q.qiniu_id = u.qiniu_id
    </select>

    <insert id="saveUserListIgnore" useGeneratedKeys="true" keyProperty="userId">
        insert ignore user (user_id, password, username, telephone, email, role, last_login_time, specialty, office,
        qiniu_id, type)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},
            #{item.password},
            #{item.username},
            #{item.telephone},
            #{item.email},
            #{item.role},
            #{item.lastLoginTime},
            #{item.specialty},
            #{item.office},
            #{item.qiniuId},
            #{item.type})
        </foreach>
    </insert>
</mapper>